</div>

<div class="feature__wrapper">

  
    <div class="feature__item">
      <div class="archive__item">
        
          <!--<div class="archive__item-teaser">
            <img src="/assets/images/logo_AT.png" alt="placeholder image 1" />
            
          </div>-->
        

        <div class="archive__item-body">
          
            <h2 class="archive__item-title">Dirección Física</h2>
          

          
            <div class="archive__item-excerpt">
              <p>171 Av. Carlos E. Chardón, San Juan, 00918</p>

            </div>
          

          
            <p><a href="https://maps.app.goo.gl/icxfCJ1VokJmTx9T8" class="btn btn--primary">Ver Mapa</a></p>
          
        </div>
      </div>
    </div>
  
    <div class="feature__item">
      <div class="archive__item">
        
          <!--<div class="archive__item-teaser">
            <img src="/assets/images/pr-gov-logo-black.png" alt="placeholder image 2" />
            
          </div>-->
        

        <div class="archive__item-body">
          
            <h2 class="archive__item-title">Contáctenos</h2>
          

          
            <div class="archive__item-excerpt">
              <p><a href="mailto:someone@example.com">Info@terrenos.pr.gov</a</p>
                <p>(787) 753-9300</p>

            </div>
          

          
            <p><a href="https://www.pr.gov/" class="btn btn--primary">Más Información</a></p>
          
        </div>
      </div>
    </div>
  



    <div class="feature__item">
        <div class="archive__item">
          
            <!--<div class="archive__item-teaser">
              <img src="/assets/images/pr-gov-logo-black.png" alt="placeholder image 2" />
              
            </div>-->
          
  
          <div class="archive__item-body">
            
              <h2 class="archive__item-title"><a href="https://www.pr.gov/">PR.gov</a></h2>
            
  
            
              <div class="archive__item-excerpt">
                <p>Política de Privacidad</p>
  
              </div>
            
  
            
              <p><a href="https://www.prits.pr.gov/politica-de-privacidad" class="btn btn--primary">Más Información</a></p>
            
          </div>
        </div>
      </div>




      
</div>